# NOTE: Requires **VS2019 16.3** or later

# Rules for sourcing
# Description: Code analysis rules for sourcing

# Code files
[*.{cs,vb}]


dotnet_diagnostic.RAS0001.severity = error

dotnet_diagnostic.SA1000.severity = none

dotnet_diagnostic.SA1005.severity = none

dotnet_diagnostic.SA1027.severity = none

dotnet_diagnostic.SA1028.severity = none

dotnet_diagnostic.SA1100.severity = none

dotnet_diagnostic.SA1101.severity = none

dotnet_diagnostic.SA1107.severity = none

dotnet_diagnostic.SA1115.severity = none

dotnet_diagnostic.SA1116.severity = none

dotnet_diagnostic.SA1118.severity = none

dotnet_diagnostic.SA1200.severity = none

dotnet_diagnostic.SA1208.severity = none

dotnet_diagnostic.SA1210.severity = none

dotnet_diagnostic.SA1211.severity = none

dotnet_diagnostic.SA1216.severity = none

dotnet_diagnostic.SA1217.severity = none

dotnet_diagnostic.SA1308.severity = suggestion

dotnet_diagnostic.SA1309.severity = silent

dotnet_diagnostic.SA1310.severity = none

dotnet_diagnostic.SA1500.severity = none

dotnet_diagnostic.SA1503.severity = suggestion

dotnet_diagnostic.SA1505.severity = silent

dotnet_diagnostic.SA1512.severity = none

dotnet_diagnostic.SA1513.severity = none

dotnet_diagnostic.SA1515.severity = none

dotnet_diagnostic.SA1516.severity = silent

dotnet_diagnostic.SA1629.severity = none

dotnet_diagnostic.SA1633.severity = none

dotnet_diagnostic.SA1634.severity = none

dotnet_diagnostic.SA1635.severity = none

dotnet_diagnostic.SA1636.severity = none

dotnet_diagnostic.SA1637.severity = none

dotnet_diagnostic.SA1638.severity = none

dotnet_diagnostic.SA1640.severity = none

dotnet_diagnostic.SA1652.severity = none
